name: build
on:
  push:
    branches:
      - main
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  build:
    name: ${{ matrix.target }} | ${{ matrix.os }} | ${{ matrix.channel }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # max-parallel: 4
      matrix:
        os: [macos-latest]
        target: ['ios', 'android']
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
              java-version: '8'
        - uses: subosito/flutter-action@v1
          with:
            channel: 'stable'
        - name: Fix iOS build bug
          if: matrix.target == 'ios'
          run: rm ios/Podfile
        - name: Build Runner
          run: flutter pub run build_runner build
        - name: Test
          run: flutter test
        - name: Analyze
          run: flutter analyze
        - name: Format
          run: flutter format -n --set-exit-if-changed ./
        - name: Build ${{ matrix.target }}
          run: |
            TARGET=${{ matrix.target }}
            case $TARGET in
            ios)
            flutter build ios --release --no-codesign
            ;;
            android)
            flutter build appbundle
            ;;
            esac
